.myModal {
    position: fixed;
    /* растянем на все окно */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 114, 181, 0.2);
}

.myModalContent {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
}

.myModal.active {
    display: flex;
    /* выравниваем содержимое по верт и гор */
    justify-content: center;
    align-items: center;
}