* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid #0072B5;
    margin-top: 15px;
    justify-content: space-between; /* выравниваем содержимое чтоб кнопка была справа*/
    align-items: center;
}

.post-enter {
    transform: translateX(-350px);
  }
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

/* ОБЕРТКА НОМЕРОВ СТРАНИЦ */
.page__wrapper {
    margin-top: 30px;
    display: flex;
}

/* НОМЕРА СТРАНИЦ */
.page-button {
    padding: 8px;
    border: 1px solid #0072B5;
    cursor: pointer;
}

/* ТЕКУЩИЙ НОМЕР СТРАНИЦЫ */
.page__current {
    border: 2px solid #FDAC53;
    font-weight: bold;
}

/* навигационная панель */
.navbar {
    height: 50px;
    /* ширина на все окно браузера */
    width: 100vw;
    display: flex;
    /* выравниваем содержимое navbar по вертикали */
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

/* ссылки в самом navbar  */
.navbar__links {
    /* ссылки будут в правом углу */
    margin-left: auto;
}

.navbar__links a {
    padding-left: 10px;
}

.post__btns {
    display: flex;
}

